name: ecobridge
description: Breaking the barriers between your devices - A universal ecosystem bridge
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  flutter_bloc: ^9.1.1
  network_info_plus: ^7.0.0
  web_socket_channel: ^3.0.3
  permission_handler: ^12.0.1
  flutter_background_service: ^5.0.5
  camera: ^0.11.3
  socket_io_client: ^3.1.3
  encrypt: ^5.0.3
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/
